/* COLOR VARIABLES */

 
 
$breakpoints: (
  'xs': 320px,
  'md': 768px,
  'lg': 769px
) !default;

$black: #000016;
$grey: #696969;
$light: #E0E0E0;
$blue:#1ec7ba;
$green:rgb(30, 199, 179);

  
 
 @font-face {
    font-family: BoldFont;
    src: url(Poppins-Bold.ttf);
}

 @font-face {
    font-family: SemiBoldFont;
    src: url(Poppins-SemiBold.ttf);
}


 @font-face {
    font-family: MediumFont;
    src: url(Poppins-Medium.ttf);
}


 @font-face {
    font-family: TextFont;
    src: url(Poppins-Regular.ttf);
}



 @font-face {
    font-family: LightFont;
    src: url(Poppins-Light.ttf);
}

 