 /*------------------------------------*\
  #TEXT_COLOR
\*------------------------------------*/
  
 .text-darkest {
     color: black;
 }
 
 .text-light {
     color: $light;
 }
 
 .text-lightest {
     color: white;
 }
  
 .text-bold {
     font-weight: 700;
 }
 
 
 .text-left {
     text-align: left;
 }
 
 .text-right {
     text-align: right;
 }
 
 
 
 /*------------------------------------*\
  #ALIGNMENTS_AND_MARGINS
\*------------------------------------*/
  
.margin-top-neg {
     margin-top: -4.5vh;
    
 }
 
 
 
 