 /*------------------------------------*\
  #TEXT_COLOR
\*------------------------------------*/
  
 .text-darkest {
     color: black;
 }

.caption{
color:rgba(48, 48, 48, 0.77);

}
 
 .text-bold {
     font-weight: 700;
 }
 
 
 .text-left {
     text-align: left;
 }
 
 .text-right {
     text-align: right;
 }
 
.wrap{
word-wrap: break-word;

}
 
 /*------------------------------------*\
  #ALIGNMENTS_AND_MARGINS
\*------------------------------------*/
  
.margin-top-neg {
     margin-top: -4.5vh;
    
 }
 
 
 
 