 /*------------------------------------*\
  #Text_Utilities
\*------------------------------------*/
 
 .text-dark {
   //  color: $main-color-dark;
 }

.text-blue {
     color: $blue;
 }

 .text-darkest {
     color: black;
 }
 
 .text-light {
     color: $light;
 }

.text-lightest {
     color:white;
 }
 
 .text-main {
    // color: $main-color;
 }

 .text-grey {
     color: $grey;
 }
 
 .text-bold {
     font-weight: 600;
 }
 
 .text-left {
     text-align: left;
 }
 
 .text-right {
     text-align: right;
 }
 
 .text-note {
     color: $grey;
     font-style: italic;
     font-size: 0.9286rem;
 }
 
 .text-by {
     //color: $main-color-dark;
     margin: 20px 0px 0px;
 }

.break-word{word-wrap:break-word;}

 

/*------------------------------------*\
#Font Classes
\*------------------------------------*/
     
 
    .title {
        font-family: TitleFont;
        color: $black;
        padding: 2vh 0 2vh;
        margin-top: 15px;
        margin-bottom: 15px;
        
        
        @include breakpoint($min: xxs) {
            font-size: map-deep-get($typescale, 'heading1', 'xxs');
        }
        @include breakpoint($min: xs) {
            font-size: map-deep-get($typescale, 'heading1', 'xs');
        }
        @include breakpoint($min:sm) {
            font-size: map-deep-get($typescale, 'heading1', 'sm');
        }
        @include breakpoint($min:md) {
            font-size: map-deep-get($typescale, 'heading1', 'md');
        }
        @include breakpoint($min:lg) {
            font-size: map-deep-get($typescale, 'heading1', 'lg');
        }
        @include breakpoint($min:xl) {
            font-size: map-deep-get($typescale, 'heading1', 'lg');
        }
    }

.semi-title {
        font-family: TitleFont;
        color: $black;
        padding: 2vh 0 2vh;
        margin-top: 15px;
        margin-bottom: 15px;
        @include breakpoint($min: xs) {
            font-size: map-deep-get($typescale, 'heading-semi', 'xs');
        }
        @include breakpoint($min:sm) {
            font-size: map-deep-get($typescale, 'heading-semi', 'sm');
        }
        @include breakpoint($min:md) {
            font-size: map-deep-get($typescale, 'heading-semi', 'md');
        }
        @include breakpoint($min:lg) {
            font-size: map-deep-get($typescale, 'heading-semi', 'lg');
        }
        @include breakpoint($min:xl) {
            font-size: map-deep-get($typescale, 'heading-semi', 'lg');
        }
    }
    
    .subtitle {
        font-family: TitleFont;
        color: $black;
        @include breakpoint($min: xs) {
            font-size: map-deep-get($typescale, 'sub1', 'xs');
        }
        @include breakpoint($min:sm) {
            font-size: map-deep-get($typescale, 'sub1', 'sm');
        }
        @include breakpoint($min:md) {
            font-size: map-deep-get($typescale, 'sub1', 'md');
        }
        @include breakpoint($min:lg) {
            font-size: map-deep-get($typescale, 'sub1', 'lg');
        }
    }
    
    .text {
        font-family: TextFont;
         
       @include breakpoint($min: xxs) {
           font-size: map-deep-get($typescale, 'text1', 'xxs');}
        @include breakpoint($min: xs) {
            font-size: map-deep-get($typescale, 'text1', 'xs');
        }
        @include breakpoint($min:sm) {
            font-size: map-deep-get($typescale, 'text1', 'sm');
        }
        @include breakpoint($min:md) {
            font-size: map-deep-get($typescale, 'text1', 'md');
        }
        @include breakpoint($min:lg) {
            font-size: map-deep-get($typescale, 'text1', 'lg');
        }
        
        @include breakpoint($min:xl) {
            font-size: map-deep-get($typescale, 'text1', 'xl');
        }
    }
    
    .smalltext {
        font-family: SmallFont;
        @include breakpoint($min: xs) {
            font-size: map-deep-get($typescale, 'smalltext1', 'xs');
        }
        @include breakpoint($min:sm) {
            font-size: map-deep-get($typescale, 'smalltext1', 'sm');
        }
        @include breakpoint($min:md) {
            font-size: map-deep-get($typescale, 'smalltext1', 'md');
        }
        @include breakpoint($min:lg) {
            font-size: map-deep-get($typescale, 'smalltext1', 'lg');
        }
    }
